VITE_SUPABASE_URL=https://qbxvdqwmnmiiiuaeoqgu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFieHZkcXdtbm1paWl1YWVvcWd1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzQ0MzEzMjUsImV4cCI6MjA1MDAwNzMyNX0.OCKLLnicpr0hqDUDm9tMeeGA_a3WHaghUZn-gSsU-vk